<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073">детска и превентивна стоматологија</h2>
            </div>
            <div class="col-md-6">
                <p>- Санирање на кариозните дефекти кај млечните заби и реставрација со најсовремени гласјономерни пломби,пломбирање со детски пломби во боја TWINKY star 
Секој родител добива совети кога за прв пат да го донесе своето дете на стоматолог,како да ги мие новоизникнатите заби,каква четка и паста да употребува,нови современи концепти за употреба на флуориди и слично.
</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/detsko.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->