<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">третман на коренов канал</h2>
            </div>
            <div class="col-md-6">
                <p>- Овој третман се нарекува ендодонција. Еден заб се третира ендодонтски кога неговата пулпа е заболена, и мора да се отстрани. Користиме современи методи на обработка и полнење на коренските канали со ендомотор. </p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/endodoncija.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->