<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">Коронки</h2>
            </div>
            <div class="col-md-6">
                <p>- Коронките се протетски изработки кои целосно го прекриваат забот и го заштитуваат од сите страни. Индикација за изработка на коронки се премногу оштетени заби, дисколорирани заби, девитализирани заби.

За да се изработи коронка потребно е забот да се препарира на специјален начин, да се земе отпечаток, а потоа изработената коронка да се цементира со што ќе се обезбеди максимално зацрвстување. Се изработуваат од метал керамика а од неодамна и безметална керамика со која се постигнува естетика до највисок степен.
</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/koronki.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->