<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">ламинати</h2>
            </div>
            <div class="col-md-6">
                <p>-    Високо естетски тенки готови фасетки-лушпи за кои не е потребно никакво стужење на забите. Наменети се за предните заби каде што има пребоени заби големи пломби , дијастеми(разделени заби )и сл.
</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/laminati.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->