<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">мостови</h2>
            </div>
            <div class="col-md-6">
                <p>- Порцеланските мостови се протетски изработки кои обезбедуваат премостување на дел од забниот низ каде недостасуваат заб/и. Индикација за изработка на мостови се недостаток на заб/и.

За да се изработи порцелански мост потребно е да се препарираат на специјален начин забите, да се земе отпечаток, а потоа изработениот мост да се цементира со што ќе се обезбеди максимално зацрвстување.

Улогата на порцеланските мостови е од естетска, фонетска и функционална природа каде треба да се надокнадат изгубените заби со членови на мостот и да се обезбеди повторно забен низ.
</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/mostovi.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->