<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">парадонтологија</h2>
            </div>
            <div class="col-md-6">
                <p>- Решавање на проблемите со гингивити(воспаленија на непцата) и парадентопатијата со ултрасонично чистење на забен камен,воздушесто полирање на заби и пескарење,обработка на парадонтални  џебови.
Во ПЗУ Д-Р АНДОВА секоја трудница  добива  совети за како полесно да се справи со гравидарниот гингивитис со кој најчесто се сретнуваат трудниците за време на бременоста.
</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/parodontologija.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->