<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">парцијални и тотални протези</h2>
            </div>
            <div class="col-md-6">
                <p>- Парцијални и тотални протези-изработени од биокомпатибилен акрилат ,визил протези со атачмени,и најновиот начин на решавање на еднострана беззабост со употреба на едностран визил со атачмен.</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/parcijal.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->