<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header" style = "border-bottom: none; color: #e60073;">пломби и фасетки</h2>
            </div>
            <div class="col-md-6">
                <p>- Пломбирањето на забите е една од најчестите интервенции. Дефектите од кариозните лезии се надоместуваат со композити. Денешните композити се усовршени до тој степен што реставрацијата на исчистеното кариозно поле не може да се препознае, поради самата способност за добро моделирање и камелеон ефект.

Кај предните заби може исклучително добро да се постигнат ефекти на промена на формата и корекција на дисколорни заби со композитните фасетки.
</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" style="width:280px;" src="app/assets/images/plombifasetki.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->