<!-- Projects Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Случаи</h2>
            </div>
            <div class="col-md-4 img-portfolio">                
                    <img class="img-responsive img-hover" src="app/assets/images/case_1.jpg" alt="">
                <h3>                    
                    Случај 1
                </h3>
            </div>
            <div class="col-md-4 img-portfolio">                
                    <img class="img-responsive img-hover" src="app/assets/images/case_2.jpg" alt="">
                <h3>
                    Случај 2
                </h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
            </div>
            <div class="col-md-4 img-portfolio">                
                    <img class="img-responsive img-hover" src="app/assets/images/cases_3.jpg" alt="">                
                <h3>
                    Случај 3
                </h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
            </div>
             <div class="col-md-4 img-portfolio">                
                    <img class="img-responsive img-hover" src="app/assets/images/case_4.jpg" alt="">                
                <h3>
                    Случај 4
                </h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
            </div>
             <div class="col-md-4 img-portfolio">                
                    <img class="img-responsive img-hover" src="app/assets/images/slucaj5.jpg" alt="">                
                <h3>
                    Случај 5
                </h3>
                <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>-->
            </div>
        </div>
        <!-- /.row -->