 <div class="row" style="padding-top: 16px;">
            <div class="col-md-3">
                <img class="img-responsive" src="./app/assets/images/angela.jpg" alt="">
            </div>
            <div class="col-md-9">
                <h2 style="border-bottom: none;">Ангела Ничкова</h2>
                <p>Родена во Кавадарци во 1995 година</p>
                <p>Средно образование завршува во С.О.У. „Ѓорче Петров“ во Прилеп во 2013 година- отсек медицинска сестра – техничар. </p>
                <p>По шест месечно стажирање во ЈЗУ Општа Болница во Кавадарци успешно го положува државниот испит и оттогаш континуирано следи курсеви и обуки од областа на стоматологијата.
Во ПЗУ Д-р Андова работи од март 2016
</p>
            </div>
</div>