 <div class="row" style="padding-top: 16px;">
            <div class="col-md-3">
                <img class="img-responsive" src="./app/assets/images/martina_standing.jpg" alt="">
            </div>
            <div class="col-md-9">
                <h2 style="border-bottom: none;">Д-р Мартина Поп-Ангелова</h2>
                <p>Родена е во Кавадарци 1992 година.
Средно образование завршува во СОУ Гим. „Дибри Даскалов “ во Кавадарци.
Во 2015 година дипломира на Универзитретот „Св. Кирил и Методиј“- Стоматолошки факултет во Скопје.</p>
<p>По едногодишно стажирање на универзитетската Клиника во Скопје се здобива со лиценца за работа.</p>
                <p>Учевствува на повеќе семинари и курсеви од областа на стоматологијата во и надвор од земјава. Активно го познава и говори англискиот јазик
Во ПЗУ д-р Андова работи од Август 2016 година.
</p>
            </div>
</div>