 <div class="row" style="padding-top: 16px;">
            <div class="col-md-3">
                <img class="img-responsive" src="./app/assets/images/nadica.jpg" alt="">
            </div>
            <div class="col-md-9">
                <h2 style="border-bottom: none;">Надица Трајкова</h2>
                <p>Родена во Кавадарци во 1986 година.</p>
                <p>Средно образование завршува во ДСМУ,, д-р Јован Калаузи’’ во Битола.</p>
                <p>По шест масечно стажирање успешно го положува државниот испит .Работи како стоматолошки асистент во стоматолошката ординација од 2007 година.</p>
            </div>
</div>