<div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Тим</h2>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <a class="hov" [routerLink]="['/verica']"><img class="img-responsive" src="./app/assets/images/verce_andova.jpg" alt="Др.Верица" ></a>
                    <div class="caption">
                        <h3><a [routerLink]="['/verica']">Верица Андова Паризов<br></a>
                            <small>Доктор по општа стоматологија</small>
                        </h3>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>-->
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                   <a [routerLink]="['/martina']"> <img class="img-responsive" src="./app/assets/images/martina_popangelova.jpg" alt="Др.Мартина"></a>
                    <div class="caption">
                        <h3><a [routerLink]="['/martina']">Мартина<br>Поп-Ангелова<br></a>
                            <small>Доктор по    <br> дентална медицина</small>
                        </h3>
                    </div>
                </div>
            </div>           
            <div class="col-md-3 text-center">
                <div class="thumbnail">
                    <a class="hov" [routerLink]="['/nadica']"> <img class="img-responsive" src="./app/assets/images/sestra_dimitrova.jpg" alt=""></a>
                    <div class="caption">
                        <h3><a [routerLink]="['/nadica']">Надица <br>Трајкова<br></a>
                            <small>Стоматолошка<br> Сестра</small>
                        </h3>
                    </div>
                </div>
            </div>
               <div class="col-md-3 text-center">
                <div class="thumbnail">
                     <a class="hov" [routerLink]="['/angela']"><img class="img-responsive" src="./app/assets/images/sestra.jpg" alt="Ангела"></a>
                    <div class="caption">
                        <h3><a [routerLink]="['/angela']">Ангела <br>Ничкова<br></a>
                            <small>Стоматолошка<br> Сестра</small>
                        </h3>
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste saepe et quisquam nesciunt maxime.</p>-->
                    </div>
                </div>
            </div> 
        </div>