 <div class="row" style="padding-top: 16px;">
            <div class="col-md-3">
                <img class="img-responsive" src="./app/assets/images/andova.jpg" alt="">
            </div>
            <div class="col-md-9">
                <h2 style="border-bottom: none;">Д-р Верица Андова Паризов</h2>
                <p>Родена во Кавадарци во 1978.</p>
                <p>Средно образование завршува во ДСМУ Д-р Панче Караѓозов во Скопје, отсек-забен техничар.</p>
                <p>Дипломира на Стоматолошкиот факултет во Скопје во 2002 година. Во текот на ствојата работа посетува најразлични курсеви ,особено од областа на високо естетски протетски реставрации,ламинати а од 2015 година е лиценциран доктор за самостојна работа при примена на хијалуронски филери во лицева естетика.
</p>
            </div>
</div>