<!-- Features Section -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">За Нас</h2>
            </div>
            <div class="col-md-6">
                <p>Стоматолошката ординација Д-р Андова е основана од Д-р Верица

                    Андова Паризов во 2004 година.Од 2016 година воведува нови технологии во работата

                    и се проширува во нови простории со две комплетно опремени стоматолошки ординации.

                    Ординациите располагаат со врвна стоматолошка опрема од

                    реномирани светски производители,со технички можности кои ги

                    задоволуваат највисоките стандарди во работењето.

                    Материјалите се внимателно одбрани и за реставрација на забите се

                    користат исклучиво материјали со висок квалитет.</p>
                    <h3>РЕЗЕРВИРАЈТЕ ТЕРМИН</h3>
                    <h3>+389 43 413 079</h3>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="app/assets/images/stol.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->